<html lang="en">

<head>
    <%- include('../partials/head')%>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOOK</title>
</head>

<body>
    <%- include('../partials/header')%>
        <!-- <H2>ok goggle</H2> -->
        <main>
            <% books.forEach((singlebook)=> { %>
                <div class="main">
                    <a href="/book/<%=singlebook.isbn%>">
                    <img src="<%- singlebook.image%>" />
                    <br>
                        <%-singlebook.title%>
                        <br>
                        <%-singlebook.author%>
                        <br>
                        <%-singlebook.isbn%>



                    </a>
                </div>

                <% }) %>
        </main>
</body>

</html>